name: CD - Semantic Versioning 

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      # Extract semantic version metadata
      - id: meta
        uses: docker/metadata-action@v5
        with:
          images: jawing641/dadjokes

      # Login to DockerHub using secrets
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      # Build and push image with multiple tags
      - uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}
